/* ---- */

.mathnote-container {
    display: block;
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px 0px;
}

/**********************************
 * mathnote one block (math mode) *
 **********************************/

.mathnote-latex {
    --padding-width: 12px;
    --background-color: rgb(245,245,245);
    --border-color: rgb(100,100,100);
    --error-text-color: rgb(200,30,30);
    --error-border-color: rgb(200,30,30);
    --dark-error-color: rgb(200,100,100);
}

/** ---
 * LaTeX is not editing (default)
 ** --- */

.mathnote-block {
    border-color: gray;
    border-style: solid;
    border-width: 0.5px 1px;
    min-height: 47px;
}

.mathnote-block.focus {
    outline: 1px solid rgb(10,100,200);
}

.mathnote-block .mathnote-math-textarea {
    /* textarea in math-mode*/
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    resize: none;
    border: none;
    outline: none;
    
    height: auto;
    width: auto;
    background-color: transparent;
    min-width: 200px;
    padding: 15px 15px;
    font: 14px 'Menlo', monospace;
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
    /* when it is not editing */
    display: none;
}

.mathnote-block .mathnote-latex {
    display: block;
    position: relative;
    transform: none;
    border: none;
    background-color: transparent;
    min-width: 200px;
    vertical-align: bottom;
    padding: 15px 15px;
    cursor: text;
    transition: height, transform 0.05s ease-out;
    cursor: pointer;
    user-select: none;
}

.mathnote-block .mathnote-latex::after {
    display: none;
    transition: height, transform 0.05s ease-out;
}

.mathnote-block .mathnote-latex.error{
    max-width: 100%;
    white-space: wrap;
    color: var(--error-text-color);
}

.mathnote-block .mathnote-latex.isEmpty::before {
    content: 'Empty LaTeX';
    font: 14px 'Menlo', monospace;
    color: #bbb;
}

/** ---
 * LaTeX is editing
 ** --- */

 /* When the LaTeX is editing => show textarea & LaTeX block */

.mathnote-block.editing .mathnote-math-textarea {
    display: block;
    position: relative;
}

.mathnote-block.editing .mathnote-latex {
    position: absolute;
    bottom: 100%;
    left: 0%;
    transform: translate(0, -10px);
    border-radius: 6px;
    padding: var(--padding-width);
    min-width: 45px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.mathnote-block.editing .mathnote-latex::after {
    content: "";
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: var(--padding-width);
    bottom: calc(2px - var(--padding-width));
    width: calc(var(--padding-width) * 1.414);
    height: calc(var(--padding-width) * 1.414);
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    cursor: text;
}


.mathnote-block.editing .mathnote-latex.error {
    border-color: var(--error-border-color);
    color: var(--error-border-color);
}

.mathnote-block.editing .mathnote-latex.error::after {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--error-border-color);
    border-right: 1px solid var(--error-border-color);
}

/* show label */
.mathnote-block {
    padding-right: 35px;
}

.mathnote-label {
    position: absolute;
    padding-right: 2px;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: middle;
    cursor: pointer;
    user-select: none;
}

/* ---------------- */

body.dark .mathnote-text-textarea,
body.dark .mathnote-math-textarea {
    background-color: #222;
    color: #eee;
}

body.dark .mathnote-block .mathnote-latex.error{
    color: rgb(230, 100, 100);
}

body.dark .mathnote-block.editing .mathnote-latex,
body.dark .mathnote-block.editing .mathnote-latex::after {
    border-color: rgba(30, 150, 150);
    background-color: rgb(38, 59, 74);
    color: rgb(200, 250, 250);
}

body.dark .mathnote-block.editing .mathnote-latex,
body.dark .mathnote-block.editing .mathnote-latex::after {
    border-color: rgba(150, 150, 150);
    background-color: rgb(50,50,50);
    color: rgb(250, 250, 250);
}

body.dark .mathnote-block.editing .mathnote-latex.error,
body.dark .mathnote-block.editing .mathnote-latex.error::after {
    border-color: rgb(200, 30, 30);
    background-color: rgb(74, 54, 53);
    color: rgb(230, 201, 197);
}

/*.mathnote-block.textmode textarea.mathnote-text-textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
    vertical-align: middle;
    font-family: 'BiauKai', 'LatinModernRoman', 'Symbola',
                 'Times New Roman', 'Times', serif;  
    font-size: 1.15em;
    border: none;
    white-space: nowrap;
}

.mathnote-block.focus {
    box-shadow: none;
    border-style: solid;
    border-radius: 0px;
    border-color: #6a93d2;
    border-width: 1px 1px;

    box-shadow: 0 0 2px #6a93d2,
                0 0 2px #6a93d2;
}*/
