* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* --- */
.freemath-container {
    cursor: grab;
}

.freemath-container.dragging {
    cursor: grabbing;
}

.freemath-canvas {
/*    border: 1px solid red;*/
}

.freemath-path-container {
}

.freemath-note-container {
/*    border: 1px solid blue;*/
}

.note {
    position: absolute;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 8px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: grab;
    transform: translate(-50%, -50%);
}

.freemath-container.drawingPath .note:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
/*    background-color: rgba(250, 250, 250, 0.6);*/
}

.note.focus {
    box-shadow: 0 0 6px #fdfa72, 0 0 6px #fdfa72;
}

/* --- */

@keyframes path-blink {
    0% {
        stroke-width: 4px;
    }
    50% {
        stroke-width: 2px;
    }
    100% {
        stroke-width: 4px;
    }
}

.path {
    stroke: #ccc;
    stroke-width: 2;
    cursor: pointer;
}

.path.focus {
    stroke: #e3e166;
    stroke-width: 4px;
}

/* --- dark mode --- */

body.dark.drawingPath .note:after {
/*    background-color: rgba(100, 100, 100, 0.6);*/
}

body.dark .note {
    background-color: #222;
    color: #eee;
}

body.dark .mq-editable-field.mq-focused,
body.dark .mq-math-mode .mq-editable-field.mq-focused {
    -webkit-box-shadow: #0278c7 0 0 1px 1px, inset #002b57 0 0 1px 0;
    -moz-box-shadow: #0278c7 0 0 1px 1px, inset #002b57 0 0 1px 0;
    box-shadow: #0278c7 0 0 1px 1px, inset #002b57 0 0 1px 0;
    border-color: #0063bd;
    border-radius: 1px;
}

body.dark .note.focus {
    box-shadow: 0 0 6px #e3e166, 0 0 6px #e3e166;
}


body.dark .path {
    stroke: #999;
}

/* --- */

@media print {
    * {
        -webkit-print-color-adjust: exact ;
        color-adjust: exact ;
    }
}







