* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family:Helvetica, Arial, KaTeX_Main, sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

/**********************************
 * help page *
 **********************************/

.help {
    z-index: 100;
    display: block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    min-width: 650px;

    right: 50%;
    bottom: 50%;
    border-radius: 20px;
    background-color: rgba(250,250,250);
    box-shadow: 0 0 15px #aaa;
    overflow: hidden;
    color: black;

    transform: translate(50%,50%);
}

body.dark .help {
    color: white;
    background-color: #333;
    box-shadow: 0 0 15px #000;
}

.help.hide {
    width: 0px;
    height: 0px;
    right: 30px;
    bottom: 25px;
    min-width: 0;
    transform: translate(0px,0px);
}

.help-container {
    height: 100%;
    padding: 50px 30px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.help-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.help-container {
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.help-container footer{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 15px;
    color: #888;
}

/* --- */

.help-container #light-logo {
    width: 120px;
    height: 120px;
    transition: 0.3s;
    opacity: 1;
}
/* --- */
.help-container h1 {
    font-weight: 400;
    text-align: center;
    font-size: 30pt;
    padding: 10px;
    border-bottom: 1px solid #777;
}

body.dark .help-container h1  {
    border-bottom: 1px solid #888;
}

.help-container h2 {
    font-weight: 400;
}

/* --- */
.help-container strong {
    font-weight: 400;
}
.help-container p {
    padding: 20px;
    font-weight: 200;
}

/* --- */

.help-container table {
    border-collapse: collapse;
    margin: 0px 5px 20px 5px;
    font-weight: 200;
    line-height: 16pt;
}

.help-container thead th{
    border-bottom: 1.5px solid #888;
    border-top: 1.5px solid #888;
    border-right: 1.2px solid #ccc;
    padding: 10px 5px;
    text-align: center;
    font-size: 12pt;
    background-color: #eee;
    font-weight: 400;
}

body.dark .help-container thead th {
    background-color: #222;
}

.help-container tbody td{
    border-right: 1.2px solid #ccc;
    border-bottom: 1.2px solid #ccc;
    text-align: center;
    padding: 5px 6px;
    font-size: 11pt;
    min-width: 180px;
}

.help-container thead th:last-child,
.help-container tbody td:last-child {
    border-right: none;
}

kbd {
    background-color: #eee;
    border: 1px solid #bbb;
    box-shadow: inset 0px -1px 0px #bbb;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 10pt;
    color: #444;
}

body.dark kbd {
    color: #eee;
    background-color: #777;
    border: 1px solid #888;
    box-shadow: inset 0px -1px 0px #888;
}

.help-container #shortcuts {
    margin-bottom: 70px;
}

/* --- */
.help .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}

.help .close:hover {
    opacity: 1;
}

.help .close:before,
.help .close:after {
    content: ' ';
    position: absolute;
    left: 15px;
    height: 25px;
    width: 2px;
    background-color: #333;
}

.help .close:before {
    transform: rotate(45deg);
}

.help .close:after {
    transform: rotate(-45deg);
}

body.dark .help .close:before,
body.dark .help .close:after {
    background-color: #bbb;
}

/**********************************
 * link bar *
 **********************************/
.link-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 15px;
}

.link-container a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    transform: scale(1.0);
    transition: 0.2s;
}

.link-container a:hover {
    transform: scale(1.1);
}

.link-container a:active {
    transform: scale(0.9);
}
/* --- */
.link-github {
    background: url('../img/github.light.svg');
}
body.dark .link-github {
    background: url('../img/github.dark.svg');
}
/* --- */
.link-help {
    background: url('../img/help.light.svg');
}
body.dark .link-help {
    background: url('../img/help.dark.svg');
}


/**********************************
 * texfield-container *
 **********************************/
/* default */
.texfield-container {
    cursor: crosshair;
}

.texfield-container .note{
    cursor: pointer;
}

.texfield-container .path{
    cursor: pointer;
}


/* dragging canvas */
.texfield-container.dragging {
    cursor: grabbing;
}

/* moving note */
.texfield-container.movingNote{
    cursor: default;
}

.texfield-container.movingNote .note{
    cursor: grab;
}

/* drawing path */
.texfield-container.pointer {
    cursor: crosshair;
}

.texfield-container.drawingPath.dragging {
    cursor: grabbing;
}


.texfield-container.drawingPath .note {
    cursor: crosshair;
}



/**********************************
 * other container set by JS *
 **********************************/

.texfield-canvas {
/*    border: 1px solid red;*/
}

.texfield-path-container {
}

.texfield-note-container {

}

/**********************************
 * NOTE *
 **********************************/

.note {
    position: absolute;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 8px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    transform: translate(-50%, -50%);
}

.texfield-container.movingNote .note:after,
.texfield-container.drawingPath .note:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
/*    background-color: rgba(250, 250, 250, 0.6);*/
}

.note.focus {
    outline: 1px solid #d94b58;
}

/* --- */

@keyframes path-blink {
    0% {
        stroke-width: 4px;
    }
    50% {
        stroke-width: 2px;
    }
    100% {
        stroke-width: 4px;
    }
}

.path {
    stroke: #ccc;
    stroke-width: 2;
}

.path.focus {
    stroke-width: 4px;
}

/* --- dark mode --- */

body.dark.drawingPath .note:after {
/*    background-color: rgba(100, 100, 100, 0.6);*/
}

body.dark .note {
    background-color: #222;
    color: #eee;
}

body.dark .note.focus {
    outline: 1px solid #e3e166;
}

body.dark .path {
    stroke: #999;
}

/* --- */

@media print {
    * {
        -webkit-print-color-adjust: exact ;
        color-adjust: exact ;
    }
}







